.container {
    margin-left: 50px;
    width: 40vw;
}
.form_header {
    border: 2px solid lightgrey;
    padding-left: 20px;
    color: #FEFEFD;
    background-color: #428BCA;
}
.form_body {
    padding: 35px 25px;
    border: 2px solid lightgrey;
    border-top: 0;
    border-bottom: 0;
    height: auto;
}
.form_label {
    font-size: 12px;
    color: lightgrey;
    padding-top: 5px;
    padding-left: 25px;
    position: absolute;
}
.form_field {
    width: 90%;
}
.form_field:focus {
    background-color: lightyellow;
    padding-left: 20px;
}

.form_select_field select {
    width: 92%;
    margin-bottom: 15px;
}

.form_textarea_field textarea {
    resize: none;
    width: 90%;
    border: 1px solid lightgrey;
}
.form_textarea_field textarea:focus {
    background-color: lightyellow;
    padding-left: 20px;
}
.fa {
    color: lightgrey;
    position: relative;
    bottom: 20px;
    left: 5px;
}
.fa-comments {
    position: relative;
    bottom: 61px;
}
.form_footer {
    height: 75px;
    border: 2px solid lightgrey;
    padding-left: 20px;
    color: #FEFEFD;
    background-color: #C9DEF0;
}
.form_button {
    font-size: 10px;
    color: white;
    margin-top: 25px;
    background-color: #428BCA;
}
.fa {}
